<html>
<head>
 <title>test</title>
</head>
<body>
<h1>HELLOOO</h1>

<!-- <% var data =  [ { filename: 'hello',
                   path: '\\uploads\\pixel.PNG' },
                   { filename: 'hello',
                   path: 'nis-cc.PNG' }
               ]; %>
 -->
<% link.forEach(function(link){ %>
    <img src=<%=link.path%> width =400px height = 200px>
<% }) %>

<a href = "/"> Upload More Images </a>	

<!-- <form action "/" method="POST" enctype="multipart/form-data">
 <input type="file" name="myimage" ></input>
 <input type="submit" name="submit" value="submit"></input>
</form> -->
</body>
</html>